@font-face{
	font-family: 'Antonio';
	src:('fonts/Antonio-Regular.ttf');
}

#logo> h1{
	font-family: 'Arial';
	color: #8CC500;
}

section> h1{
	font-family:'Arial';
	color:#0071BD;
}

nav>a{
	font-size: 18px;
	color:#FFFFFF;
	font-family:'Arial';
	font-weight: bold;
	text-decoration: none;	 
}

body{
	padding: 50px;	
}

nav>a:hover{
	text-decoration: underline;
	color:red;
}

section{
	width: 70%;
	float: left;
}

aside{
	width: 30%;
	float: left;
}

footer{
	background-color: #0071BD;
	color: #FFFFFF;
	font-family: 'Arial';
	font-size: 13px;
	clear: both;
	text-align: center;
}

header{
	background-color: #0071BD;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color:#FFFFFF;
	font-weight: bold;
}

.distvideo{
	width: 50%;
	font: left;
}